
<mat-toolbar role="header" display:flex: >

 <button style="height:6rem; width:6rem; overflow:visible; " mat-menu-item [matMenuTriggerFor]="Menu">
  <span><img style="width:140%; display:flex; " src="assets/logo.png"></span></button>

 <mat-menu #Menu="matMenu">
    
    <button mat-menu-item ><mat-icon>dashboard</mat-icon><span>Dashboard</span></button>
    <button mat-menu-item [matMenuTriggerFor]="subMenu"><span>
      <mat-icon>build</mat-icon>Processing Nodes</span></button>
      <mat-menu #subMenu="matMenu"><button mat-menu-item>General</button>
        <button mat-menu-item>Display</button>
        <button mat-menu-item>Profile</button>
      </mat-menu>
    <button mat-menu-item><mat-icon>settings</mat-icon><span>Administration</span></button>
    <button mat-menu-item><mat-icon>code</mat-icon><span>API</span></button>
    <button mat-menu-item><mat-icon>assignment</mat-icon><span>Documentation</span></button>
    <button mat-menu-item><mat-icon>palette</mat-icon><span>Customize</span></button>
 
  </mat-menu>




</mat-toolbar>

<mat-card>
  <mat-card-title>
    <span class="header">{{name}}</span>
  </mat-card-title>
  <mat-card-content>
  
   
</mat-card-content>
</mat-card>


