.mat-toolbar{
    background-color:#222;
    text-align:center;
     display:flex;
    flex: 1 1 auto;
    top: 20%;
    width:100%;
    height:40%;

    position:relative;
    
    border-style:ridge;
}

 

.header{
    color:#222;
    text-align:center;
    display:flex;
    font-size:20px;
    flex:1 1 auto;
    align-items:center;
    position :absolute;
    font-weight:bold;
  
}


.mat-card{
    background-color:orange;
}